<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
<div id="app">
    <div v-if="isShow">
        <label>
            <input type="text" v-model="username" placeholder="please enter username"/>
        </label>
        <button type="button" @click="enterRoom">Enter Room</button>
    </div>
    <div v-else>
        <ul>
            <li v-for="(item, index) in history" :key="'message' + index">
                {{ item }}
            </li>
        </ul>
        <label for="message">Message: </label><input type="text" id="message" v-model="message"/>
        <button id="send" @click="send">Send</button>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            history: [],
            ws: {},
            username: '',
            isShow: true
        },
        mounted() {
            this.ws = new WebSocket('ws://127.0.0.1:3000')
            this.ws.onopen = this.onOpen
            this.ws.onmessage = this.onMessage
            this.ws.onclose = this.onClose
            this.ws.onerror = this.onError
        },
        methods: {
            onOpen: function () {
                console.log('onopen: client has been connected to the server. ReadyState: ' + this.ws.readyState)
            },
            onMessage: function (e) {
                console.log('onmessage: one message has been received from server. ReadyState: ' + this.ws.readyState)
                const msg = JSON.parse(e.data);

                // New user entered.
                if (msg.event === 'enter') {
                    this.history.push('Welcome ' + msg.message + ' join to the room.')
                } else {
                    // new chat message.
                    this.history.push(msg.username + ' says: ' + msg.message)
                }
            },
            onClose: function () {
                console.log('onclose: current client closed connection. ReadyState: ' + this.ws.readyState)
            },
            onError: function () {
                console.log('onerror: connection failed. ReadyState: ' + this.ws.readyState)
            },
            send: function () {
                this.history.push(this.username + ' says: ' + this.message)
                this.ws.send(JSON.stringify({
                    event: 'message',
                    username: this.username,
                    message: this.message
                }))
                this.message = ''
            },
            enterRoom: function () {
                if (this.username.trim() === '') {
                    alert('Username can not be empty.')
                    return
                }

                this.isShow = false

                this.ws.send(JSON.stringify({
                    event: 'enter',
                    username: this.username,
                    message: this.username
                }))
            },
        }
    })
</script>
</body>
</html>
